// Black
$blk: #000;

// White
$wht: #fff;

// Blue set
$dark-blue		: #344243;
$med-blue			: #4A6BD9;
$lite-blue		: #41B7D8;
$xlite-blue		: #C3D8E5;
$galaxy-blue	: #2175A0;
$sky-blue			: #23A5E3;

// Green set
$dark-green		: #2C7352;
$med-green		: #708C4E;
$lite-green		: #9ECE56;
$xlite-green	: #AEC58F;
$x2lite-green	: #7ACFA8;

// Red set
$dark-red			: #D40B2C;
$med-red			: #E33B5D;
$lite-red			: #D25A59;

// Gray set
$dark-gray		: #39424B;
$med-gray			: #747787;
$lite-gray		: #887C7B;

// yellow set
$dark-yellow	: #D6B546;
$med-yellow		: #C2A954;
$lite-yellow	: #F3DF77;

// Brown set
$xdark-brown	: #54463B;
$dark-brown		: #936600;
$med-brown		: #925C42;
$lite-brown		: #594B40;
$xlite-brown	: #B5A89C;

// Orange set
$dark-orange	: #E2392C;
$med-orange: #EA5236;
$lite-orange: #EF8269;
$xlite-orange: #E68162;
