.slide9-content-1{
	background : $dark-green;
	box-shadow : 15px 15px rgba($lite-gray,.3) ;
	.slide-text-wrapper{
		background : #000;
		width      : 400px;
		position   : relative;
	}
}
.slide9-content-2{
	background : $dark-green;
	position   : relative;
	.slide-text-wrapper{
		background : $med-gray;
		width      : 400px;
		position   : relative;
		.syntax-wrapper{
		}
		.easing-position-wrapper{
			/* h4{
				margin-right: -10px;
			} */
			code{
			}
			p{
				margin-left: 0px;
			}
		}
	}
}
